body {
    display: table;
    width: 100%;
}

.parallax-container {
    height: 600px;
}

.header-image {
    height: 35px;
    width: auto;
    vertical-align: middle;
}

footer.page-footer {
    margin-top: 0;
}

.small-font {
    font-size: 60%;
}

.parallax {
    /*top: initial;*/
}

#index-banner.parallax-container {
    height: 100vh;
}

.nav-bar-container {}
.nav-and-banner-wrapper {
    display: table-row;
}

.in-dev {
    position: absolute;
    height: 25px;
    background: #FF4081;
    min-width: 150px;
    top: 32px;
    left: -31px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    transform: rotate(-45deg);
}

.drop-button {
    padding-top: 40px;
}