.parallax-container {
    height: 600px;
}

.header-image {
    height: 35px;
    width: auto;
    vertical-align: middle;
}

footer.page-footer {
    margin-top: 0;
}

.small-font {
    font-size: 60%;
}

.parallax {
	top: initial;
}

#index-banner.parallax-container {
	height: 100vh;
}